// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul, ol {
  margin: 0;
}

p, li {
  font-family: $karla;
  margin-bottom: 0.3em;
  @include font-size(17);
  color: $texto1;
}

a {
  color: $texto1;
  text-decoration: none;
  &:hover {
    color: $destacado;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $texto3;
  font-family: $droid;
}

h1{ 
   margin:0px;
   padding:20px 20px 20px 20px;
   @include font-size(34);
   font-weight:600;
   text-align:center;
}

