// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul, ol {
  margin: 0;
}

p, li {
  font-family: $karla;
  margin-bottom: 0.3em;
  @include font-size(17);
  color: $texto1;
}

a {
  color: $texto1;
  text-decoration: none;
  &:hover {
    color: $destacado;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: $texto3;
  font-family: $questrial
}



