//
// Layout styles
//

.index-header{
    height: $content-height;
}

.container{
   height: $content-height;
   width: 100%;
}

.reference{
	height: $content-height;
}

.biography{
	height: $content-height;
}

.footer-content {
  padding: 30px 0 0px 0;
    @extend %content;
 	height:$content-height;
}

.projects-content{
	width: 1280px;
	margin: 0 auto;
}