// 
// Variables
//

// Tipografía
$script: font-family: 'Dancing Script', cursive;
$questrial: font-family: 'Questrial', sans-serif;
$karla: font-family: 'Karla', sans-serif;
// Colores
$texto1: #fff; // blanco
$texto2: D8685D; // Naranja
$texto3: #86898A; // Gris claro
$texto4: #6D6E71; // Gris oscuro
$destacado: #D8685D;  // Naranja
$background1: #6D6E71; // Gris oscuro
$background2: #86898A; // Gris claro
$background2: #000; // Negro

// Layout
$max-width: 1400px;
$content-width: 960px;