// 
// Variables
//

// Tipografía
$script: 'Dancing Script', cursive;
$droid: 'Droid Serif', bold;
$karla: 'Karla', sans-serif;
$karla-bold: 'Karla', bold;


// Colores
$texto1: #fff; // blanco
$texto2: #33CCCC; // Turquesa
$texto3: #86898A; // Gris claro
$texto4: #6D6E71; // Gris oscuro
$destacado: #33CCCC;  // Turquesa
$background1: #6D6E71; // Gris oscuro
$background2: #86898A; // Gris claro
$background3: #145252; // Turquesa oscuro
$background4: #000; // Negro

// Layout
$max-width: 1400px;
$content-width: 960px;
$content-height: 750px;