
//
// Estilos del header
//

header{
  background-image:url(../img/background-grey.jpg);
  height: 645px;
  overflow: hidden;
}

.header-info{
  text-align: center;
}
.header-info{
  text-align: center;
}

.header-info h1{
  font-family: $script;
  font-size: 40px;
}

.network0{
  background-image:url(../img/face.png);
  width: 104px;
  height: 104px;
    &:hover{
      background-image:url(../img/face_hover.png);
    }
}

.network1{
  background-image:url(../img/twitter.png);
  width: 104px;
  height: 104px;
    &:hover{
      background-image:url(../img/twitter_hover.png);
    }
}

.network2{
  background-image:url(../img/git.png);
  width: 104px;
  height: 104px;
    &:hover{
      background-image:url(../img/git_hover.png);
    }
}

.links li, a{
    text-indent: -9999px;
}


.header-content {
  margin: 20px 60px;
  height: 145px;
}