
//
// Estilos del header
//

header{
  background-image:url(../img/background-grey.jpg);
  height: 645px;
  overflow: hidden;
}

.links{
  margin: 190px 119px 0 0;
  float: right;
}

.header-info h1{
  color: $texto1;
  text-align: center;
  font-weight: 600;
  font-family: $droid;
  @include font-size (41);
}

.network{
  color:$destacado;
  @include font-size(50);
  margin: 1rem;
    &:hover{
      color:$texto1;
    }
}

.header-content {
  margin: 15px 60px;
  height: 160px;
  width: 1200px;
}

.header-info {
  background-color: rgba(51,204,204, 0.2);
  width: 800px;
  margin: 0 auto;
}
