// Estilos para la navegación


// Estilos generales

li{
	list-style: none;
	display: inline-block;
}

// Navegación principal

.header-nav{
	float: right;
}

.header-nav li{
	margin-right: 40px;
}

// Enlace_Logo
  
.logo{
    @include font-size(20);
    font-family: $droid;
    float: left;
    position: fixed;
    color: $texto2;
        &:hover {
            color: $background1;
        }
}

// Navegación footer


























  