.list {
   width: 300px;
   height: 180px;
   margin: 0 auto;
   border: 10px solid rgba(255, 255, 255, 0.1);
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   background: #fff url(../img/desing.png) no-repeat center center;
    .mask{
       width: 300px;
       height: 200px;
       position: absolute;
       overflow: hidden;
       top: 0;
       left: 0;
    }

    .list-content {
       width: 300px;
       height: 200px;
       position: absolute;
       overflow: hidden;
       top: 0;
       left: 0;
    }

    h2 {
       text-transform: uppercase;
       color: #fff;
       text-align: center;
       position: relative;
       font-size: 17px;
       background: rgba(0, 0, 0, 0.8);
       margin: 10px 0 0 0;
    }

    p {
       font-family: Georgia, serif;
       font-style: italic;
       font-size: 12px;
       position: relative;
       color: #fff;
       padding: 10px 20px 20px;
       text-align: center;
    }
}

.main-projects{
    position:relative;
    width:680px;
    margin: 0 auto;
}


.list-projects{ 
    .show-projects {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .mask {
        background-color: rgba(115,146,184, 0.9);
        width: 400px;
        padding: 60px;
        height: 400px;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translate(265px, 145px) rotate(45deg);
        -moz-transform: translate(265px, 145px) rotate(45deg);
        -o-transform: translate(265px, 145px) rotate(45deg);
        -ms-transform: translate(265px, 145px) rotate(45deg);
        transform: translate(265px, 145px) rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    h2 {
         border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background: transparent;
        margin: 20px 40px 0px 40px;
        -webkit-transform: translate(200px, -200px);
        -moz-transform: translate(200px, -200px);
        -o-transform: translate(200px, -200px);
        -ms-transform: translate(200px, -200px);
        transform: translate(200px, -200px);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    p {
        -webkit-transform: translate(-200px, 200px);
        -moz-transform: translate(-200px, 200px);
        -o-transform: translate(-200px, 200px);
        -ms-transform: translate(-200px, 200px);
        transform: translate(-200px, 200px);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    &:hover{
        .mask {
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
            -webkit-transform: translate(-80px, -125px) rotate(45deg);
            -moz-transform: translate(-80px, -125px) rotate(45deg);
            -o-transform: translate(-80px, -125px) rotate(45deg);
            -ms-transform: translate(-80px, -125px) rotate(45deg);
            transform: translate(-80px, -125px) rotate(45deg);
        }
    
        h2 {
            -webkit-transform: translate(0px,0px);
            -moz-transform: translate(0px,0px);
            -o-transform: translate(0px,0px);
            -ms-transform: translate(0px,0px);
            transform: translate(0px,0px);
            -webkit-transition-delay: 0.3s;
            -moz-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
            -ms-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }


        p {
            -webkit-transform: translate(0px,0px);
            -moz-transform: translate(0px,0px);
            -o-transform: translate(0px,0px);
            -ms-transform: translate(0px,0px);
            transform: translate(0px,0px);
            -webkit-transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            -o-transition-delay: 0.4s;
            -ms-transition-delay: 0.4s;
            transition-delay: 0.4s;
        }
    }
}